
html, body {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}

a {
  color: #4c7083;
}

#banner {
  height: 7vh;
  width: 100%;
  display: inline;
}

.title {  
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  text-shadow: 0 1px 4px rgba(0,0,0,0.2);
  font-size: 4.0vw;
  font-weight:600;
  color: #7b545b;
  padding: 5px;
  border-bottom: 0.55vh solid #7b545b;
  background-color: #f6f7f8;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.5em;
    font-weight:400;
    border-bottom: 0.1em solid #7b545b;
  }

  #banner {
    width: 100%;
    display: inline;
  }
}

.map {
  height: 93vh;
}

hr {
  width: 90%;
  border: 0.5px solid #515e65;
}

#popup {
  font-family: 'Montserrat', sans-serif;
}

#popup-content{
  color: #393939;
}

#popTitle{
  font-weight: bold;
  font-size: 1.15em;
  color: #3a4449;
}

#popFeat{
  font-style: italic;
  font-size: 1.0em;
  padding-bottom: 5px;
  color: #515e65;
}

#popStory{
  font-size: 1.0em;
  padding-bottom: 7px;
  color: #3a4449;
}

#popOfficial {
  font-size: 0.75em;
  color: #515e65;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 20px;
  left: -150px;
  min-width: 235px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 150px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 150px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
  color: #515e65;
}

.ol-control button {
  background-color: rgba(86,86,86,0.40);
}